<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/layout/base :: common_header(~{::title},~{::link})">
    <title>메인 타이틀</title> <!-- 이 title이 ~{::title} 여기에 태그 자체로 쏙 들어감 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">
</head>
<body>
메인 컨텐츠
<h3>::title 은 현재 페이지의 title 태그들을 base.html 로 전달한다.</h3>
<h3>::link 는 현재 페이지의 link 태그들을 base.html 로 전달한다</h3>
공통 부분에 약간의 수정될 부분들만 수정될 수 있도록 허용 하는 처리
</body>
</html>
