<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전 -->
<script>
    var username = [[${user.username}]]; /* var username = userA;*/
    var age = [[${user.age}]];          /* var age = 10;*/
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username";  /* var username2 = /!*userA*!/ "test username";*/
    //객체
    var user = [[${user}]];              /* var user = BasicController.User(username=userA, age=10);*/
</script>
<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript"> <!-- 문자로 예상되면 ""을 자동으로 처리 해준다 -->
    var username = [[${user.username}]]; /* var username = "userA";*/
    var age = [[${user.age}]];            /* var age = 10;*/
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username";  /* var username2 = "userA";*/
    //객체
    var user = [[${user}]];            /* var user = {"username":"userA","age":10};*/

/*                var user = [[${user}]];
        인라인 사용 전 var user = BasicController.User(username=userA, age=10);
        인라인 사용 후 var user = {"username":"userA","age":10};*/
</script>

<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">
    [# th:each="user, stat : ${users}"]
    var user[[${stat.count}]] = [[${user}]];
    [/]


    /* var user[[${stat.count}]] ==> user1 ... user2.... user3....*/
</script>
</body>
</html>