<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 주의 ! 다음 주석을 풀면 예외가 발생함 '' 로 감싸지않았기 때문에 -->
    <!--<li>"hello world!" = <span th:text="hello world!"></span></li>-->
        <li>'hello' + ' world' = <span th:text ="'hello' + ' world'"></span></li>
        <li>'hello world !' = <span th:text = "'hello world!'"></span></li> <!-- 띄어쓰기가있으면 ''로감싸주어야함! -->
        <li>'hello ' + ${data} = <span th:text = "'hello' + ${data}"></span></li>
        <li> 리터럴 대체 | hello ${data}| = <span th:text ="|hello ${data}|"></span></li>
</body>
</html>